/**********************************************************************/
body{
    margin:0;
}
header {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    background: rgb(8, 8, 99);
    text-align: center;
    margin: 0;
    outline: 10px solid black;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    }
 
h1 {
    color:white;
}
h2 {
    color: black;
    font-size: 30 px;
    font-family: Helvetica, arial, sans-serif;
    line-height: 125%;
    text-align: center;
 }
 
h3 {
    color: white;
    font-size: 25 px;
    font-family: Helvetica, arial, sans-serif;
    text-align: center;
 }
h4 {
    color: black;
    font-size: 15 px;
    font-family: Helvetica, arial, sans-serif;
    text-align: center;
}
h5 {
    color: #ffffff;
    font-size: 15 px;
    font-family: Helvetica, arial, sans-serif;
    text-align: center;
}

p {
    color: black;
    font-size: 20 px;
    font-family: Helvetica, arial, sans-serif;
}
footer{
    text-align: center;
}

 /* i wanted to add my own color twist on these */
 a:link {color: black;}
 a:visited {color: rgb(23, 82, 94);}
 a:hover {color: grey;}
 a:active {color: black;}
 
 
 /* I really liked this 45 degree angle horizontal rule so I recreated it a little differently here */
hr {
   width: 20px;
   height: 20px;
   border: none;
   background: #000;
   color: #000;
   margin-top: 50px;
   margin-bottom: 50px;
   transform: rotate(45deg);
}
 
/*class for background*/
.backg {
    background-color:rgb(236, 236, 236);
    padding-left: 5px;
    padding-right: 5px;
}
 /**********************************************************************/
  /**********************************************************************/
   /**********************************************************************/
    /**********************************************************************/
     /**********************************************************************/
      /**********************************************************************/
#top-buttons-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}
.button{
padding:5px;
outline: 3px solid rgb(8, 8, 99);
background: #39d6ce;
margin: 10px
}
#new-button{
}
#filter-button{
}

form.addItem{
    outline: 3px solid rgb(8, 8, 99);
    background: #39d6ce;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:20px;
    padding: 10px;
    text-align: center;
}

.item{
    outline: 3px solid rgb(8, 8, 99);
    background: #39d6ce;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expanded{
    outline: 3px solid rgb(8, 8, 99);
    background: #39d6ce;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expanded button{
    margin: 10px;
}

.imgHolder{
    justify-content: center;
    align-content: center;
    padding:15px;
}





/**********************************************************************/ 
/**********************************************************************/
/**********************************************************************/
/**********************************************************************/
/**********************************************************************/

/*changes nav to second iteration*/
@media all and (min-width:350px) {
    

    main {
        max-width: 350px;
    }
 
}

/* adds border radius to backround elements*/
@media all and (min-width:475px) {

    .backg{
        border-radius:10%;
        padding: 25px;
    }

}


/* portion to adjust nav when user is on a computer */
@media all and (min-width:1205px) {
 

     
}
